<div>
    <label [for]="id">
        {{ label }} 
        <span *ngIf="this.required" class="text-danger">*</span>
    </label>
    <div class="hint">
        <input 
            type="number" 
            [id]="id" 
            [name]="name" 
            [placeholder]="placeholder"
            [(ngModel)]="value" 
            [ngClass]="{'b-error': errors.length > 0}"
            [step]="step"
            (input)="emitValue($event.target.value)">
        <span *ngFor="let error of errors">{{ error }}</span>
    </div>
</div>