div {
    position: fixed;
    top: 20px;
    left: 0;
    animation: show 0.5 ease-out;

    p {
        opacity: 0.5;
        text-align: center;
        width: 300px;
        margin: auto;
    }

    p.success {
        background-color: #372;
    }

    p.error {
        background-color: #f12;
    }

    p.info {
        background-color: #32d;
    }
}

@keyframes show {
    from {
        transform: translateY(-300px);
    }
    to {
        transform: translateY(0);
    }
}
