button {
    border: none;
    background-color: #fff;
    box-shadow: 0 0 5px 0 #333;
    padding: 10px 20px;
    border-radius: 3px;

    &:focus {
        outline: none;
    }

    &:hover {
        cursor: pointer;
    }
}

.p-4 {
    padding: 10px 0;
}